.header-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  background-color: rgb(188, 188, 188);
}

.header__logo {
  width: 2rem;
  height: 2rem;
}

.header__title {
  text-transform: uppercase;
}
